
div#phrase-card {
  background-color: gainsboro;
}

div#tile-punctuation.ui.segment {
  text-align: left;
  background-color: transparent;
  width: 20px;
  height: 50px;
}

div#tile-space {
  background-color: transparent;
  width: 40px;
  height: 50px;

}

/* div.tile {
  text-align: center;
  background-color: azure;
  width: 50px;
  height: 50px;


} */





button.letter-block{
width: 40px;

height: 40px;
font-size: 35px;
}

/* .box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} */

/* * {box-sizing: border-box;} */

/* .wrapper {
  border: 2px solid #f76707;
  border-radius: 5px;
  background-color: azure;
} */

/* .box {
  border: 2px solid #ffa94d;
  border-radius: 1px;
  background-color: azure;
  padding: 1em;
  color: black;
} */

/* #progress-box {
  border: 2px solid #ffa94d;
  border-radius: 2px;
  background-color: azure;
  padding: 1em;
  color: black;
} */

/* .nested {
  border: 2px solid #ffec99;
  border-radius: 5px;
  background-color: #fff9db;
  padding: 1em;
} */

/* .wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
} */
/* .box1 {
  grid-column-start: 1;
  grid-column-end: 4;
} */
